---
import { getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description} backgroundVariant="typing" animate={false}>
<main>
  <BlogPost title={post.data.title} date={post.data.date} description={post.data.description} slug={post.slug}>
  <Content />
</BlogPost>
</main>
</Layout>

<style>
  main {
    height: 100%;
    overflow: scroll;
  }
</style>
